<h1>Užívateľská príručka</h1>

<hr>

<h3>Obsah</h3>

<ol>
  <li><a href="#uvod">Úvod do používania aplikácie</a></li>
  <li><a href="#predmety">Predmety - vytváranie, úprava a mazanie </a></li>
  <li><a href="#skupiny">Skupiny - vytváranie, úprava a mazanie </a></li>
  <li><a href="#vyucujuci">Vyučujúci - vytváranie, úprava a mazanie </a></li>
  <li><a href="#gen">Generovanie PDF dokumentov</a></li>
  <li><a href="#email">Odosielanie dokumentov cez e-mail</a></li>
  <li><a href="#pripomienky">Chyby a pripomienky</a></li>
</ol>

<hr>

<h2 id="uvod">Úvod do používania aplikácie</h2>
<p>
  Pred normálnym chodom aplikácie je potrebné najprv naplniť databázu údajmi o katedre.
  <strong>Údaje je možno pridávať v akomkoľvek poradí</strong>, avšak v navigácii navrchu som zvolil poradie,
  ktoré je podľa mňa najefektívnejšie podľa toho ktoré údaje sa najčastejšie pridávajú.
  Pri zmenách jednotlivých údajov tiež záleží na poradí vytvárania, pretože nemôžeme priradiť vyučujúcemu kategóriu úväzku, ktorá nebola ešte vytvorená.
</p>

<hr>

<h2 id="predmety">Vytváranie, úprava a mazanie predmetov</h2>
<p>
  Vytváranie predmetov je jednoduché. Stačí prejisť v navigačnom menu na stránku "Predmety", kliknúť na tlačidlo
  pridať predmet, vyplniť údaje formuláru ako kód predmetu, meno predmetu počet hodín týždenne a uložiť predmet.
  Upraviť a vymazať môžeme predmety kliknutím na jednotlivé akcie v ich prehľade. Pričom pri vymazaní sa aplikácia opýta,
  či chceme skutočne daný predmet vymazať.
</p>

<hr>

<h2 id="predmety">Vytváranie, úprava a mazanie skupín</h2>
<p>
  Pri skupinách máme dva spôsoby ako ich vytvoriť. Prvý je klasicky vyplniť formulár a uložiť. Druhý spôsob je importovať
  skupiny z .csv súboru kde sa pomocou regulárneho výrazu nájdu všetky skupiny v súbore, čiže na poradí nezáleží.
  Pri importe však strácame možnosť prideliť predmety skupine a musíme tak spraviť pri úprave predmetu.
</p>

<hr>

<h2 id="vyucujuci">Vytváranie, úprava a mazanie vyučujúcich</h2>
<p>
  Vytváranie vyučujúcich je o niečo zložitejšie ako predchádzajúce formuláre, ale stále intuitívne. Ako prvé vyplníme meno, priezvisko
  a e-mail kde chceme aby boli doručované vygenerované PDF dokumenty.
  Potom označíme zaškrtnutím políčka, ktoré predmety daný vyučujúci vyučuje a zároveň zaškrtneme aj políčko je prednášajúci ak je prednášajúci predmetu.
  Potom musíme vyučujúceho uložiť.
</p>
<p>
  Po uložení môžeme vidieť, že sa zobrazili pri každom označenom vyučovanom predmete jednotlivé skupiny,
  ktoré majú tento predmet priradený. Ak ich označíme objavia sa na prehľade úväzkov vyučujúceho.
  Po týchto úpravách môžeme uložiť vyučujúceho kliknutím na tlačidlo "Ulož vyučujúceho".
</p>

<hr>

<h2 id="gen">Generovanie PDF dokumentov</h2>
<p>
  Generovanie PDF dokumentov prebieha pre každého vyučujúceho samostatne a automaticky ihneď pri uložení zmien. Dokumenty sú generované vždy
  na jeden deň aby sa predišlo zbytočným kópiám pri zložitejších úpravách.
</p>
<p>
  Prehľad dokumentov si môžeme prezrieť po kliknutí na "Generované dokumenty", čo sa nachádza medzi akciami v prehľade vyučujúcich.
</p>
<p>
  Dokumenty sú generované na pozadí a generovanie väčšinou trvá pár sekúnd. O stave dokumentu nás informuje v prehľade "Stav". Ak je dokument v stave "Generuje sa",
  stačí aktualizovať stránku po pár sekundách a stav dokumentu sa zmení na "Vygenerovaný", keď je operácia dokončená.
</p>

<hr>

<h2 id="email">Odosielanie dokumentov cez e-mail</h2>

<p>Odoslať prehľad môžeme danému vyučujúcemu na jeho určenú e-mailovú adresu z jeho prehľadu dokumentov kliknutím na akciu odoslať e-mailom pri jednotlivých dokumentoch.</p>
<p>Zobrazí sa formulár, kde môžeme zadať predmet e-mailu a text správy, pričom pdf dokument bude automaticky pripojený ako príloha</p>

<p class="alert alert-success">
  Pokiaľ je aplikácia v testovaní, tak je odokialanie emailov simulované (žiadne emaily sa na skutočné emailové adresy neodošlú). Preto je možné testovať odosielanie emailov jednotlivým vyučujúcim bez obáv.
</p>

<hr>

<h2 id="pripomienky">Chyby a pripomienky</h2>
<p>
  Aplikácia je priravená na prevádzku, ale môže sa stať že sa vyskytne chyba. Ak sa tak stane, alebo máte nápad na vylepšenie funkcionality, poprosil by som vás keby ste ma kontaktovali na môj email
  <strong><%= link_to "gavlak.a@gmail.com", "mailto:gavlak.a@gmail.com" %></strong> aby som mohol chybu opraviť, prípadne implementovať dodatočnú funkcionalitu :)
</p>

<p>
  Ďakujem
</p>

<hr>