<p>Dobrý deň <%= @resource.email %>!</p>

<p>Niekto si vyžiadal link na zmenu vášho hesla. Môžete tak spraviť cez link nižšie.</p>

<p><%= link_to 'Zmeniť moje heslo', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ak ste nevyžiadali zmenu vy, tak prosím ignorujte tento email.</p>
<p>Vaše heslo sa nezmení, kým neprejdete na link vyššie a vytvoríte si nové heslo.</p>
