<% if model.errors.any? %>
    <div class="alert alert-danger">
      <ul class="list-unstyled">
        <% model.errors.full_messages.each do |message| %>
            <li><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>